<div class="row top">
	<div class="col-md-10 text-left">
		<a href="/">
		<h1>DISCOVER VIRTUAL REALITY</h1>
	</a>
	</div>
	<div class="col-md-2 text-center">
		<button type = "button" class = "btn" onclick="window.location.href='{{url_for('showLogin')}}'">LOG IN</button>
	</div>
</div>

<div class = 'flash'>
	 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>

<div class = "divider">
	</div>